
.wrapper {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: 100vh;
    width: 1024px;
    background-color: brown;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.5fr;
    grid-gap: 4px;
    grid-template-areas: 
    " nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer"
    ;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: cyan;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    
    
    
}

#logo {
    margin-left: 5%;
}

.navlinks {
    list-style: none;
    margin-right: 10%;
    
}

.navlinks li {
    display: inline-block;
    margin-right: 10px;
    
}

.navlinks a {
    text-decoration: none;
}

main {
    background-color: rgb(65, 114, 146);
    grid-area: main;
}

#sidebar {
    background-color: rgb(48, 238, 206);
    grid-area: sidebar;
}

#content1 {
    background-color: rgb(36, 212, 139);
    grid-area: content1;
}

#content2 {
    background-color: rgb(112, 165, 235);
    grid-area: content2;
}

#content3 {
    background-color: rgb(189, 243, 88);
    grid-area: content3;
    background-image: url(./orangeporsche.jpg);
    background-size: 100%;

    }


footer {
    background-color: rgb(255, 174, 0);
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.5fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}
